body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    margin: 5px 0;
    color: #555;
}

.card .tags {
    color: #007BFF;
    font-size: 14px;
    margin-top: 10px;
}

.card .agency {
    margin-top: 15px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.card-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    margin: 5px 0;
    color: #555;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #228B22;
    color: white;
}

.header .logo {
    height: 80px;
}

.header .center-text {
    flex-grow: 1;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
}

.header form {
    display: flex;
    align-items: center;
}

.header input[type="text"] {
    padding: 8px;
    font-size: 16px;
    width: 300px;
    border-radius: 5px;
    border: none;
}

.header button {
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #228B22;
    cursor: pointer;
    margin-left: 10px;
}

.header button:hover {
    background-color: #f8e9fa;
}


@media (max-width: 768px) {
    .header form {
        display: flex;
        align-items: center;
        width: 80%; /* Общая ширина формы */
        max-width: 400px;
        margin: auto;
        border: 2px solid #228B22;
        border-radius: 5px;
        overflow: hidden;
    }

    .header input[type="text"] {
        width: 70%; /* Ширина строки 70% */
        font-size: 12px;
        padding: 0 0px;
        border: none;
        outline: none;
        height: 25px; /* Высота строки 10px */
    }

    .header button {
        width: 25px;
        height: 25px; /* Делаем кнопку такой же высоты, как инпут */
        font-size: 0;
        background: url('/static/search-icon.png') center/80% no-repeat, #228B22;
        border: none;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .header .logo {
        height: 40px;
        position: absolute;
        left: 0; /* Закрепляем логотип слева */
    }

    .header .center-text {
        font-size: 30px;
        font-weight: bold;
        color: white;
        text-align: center;
        flex-grow: 1;
    }

    .header form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }
}

