<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tour.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/tour.css">
</head>
<body>
    <div class="container">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for i in range(description.c_photo) %}
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="{{ i }}"
                            class="{% if i == 0 %}active{% endif %}" aria-current="true" aria-label="Slide {{ i + 1 }}"></button>
                {% endfor %}
            </div>

            <div class="carousel-inner">
                {% for photo in description.photo %}
                    <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                        <img src="/static/photo/{{ photo.strip() }}" class="d-block w-100" alt="Tour Photo">
                    </div>
                {% endfor %}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий слайд</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий слайд</span>
            </button>
        </div>

        <div class="tour-info">
            <h1>{{ tour.title }}</h1>
            <p>{{ description.description }}</p>
            <h2>Маршрут:</h2>
            <p>{{ tour.route }}</p>
            <p><strong>Старт:</strong> {{ tour.start_time }}, {{ tour.tour_agency }}</p>
            <p><strong>Продолжительность:</strong> {{ tour.duration }}</p>
            <div class="buttons">
                <a href="/agency/{{ tour.agency_id }}" class="btn1">Туры от {{ tour.tour_agency }}</a>
                <a href="/booking/tour/{{ tour.id }}" class="btn1 book-btn">Забронировать</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
